:root {
	--red-text: red;
}

body {
	font-size: 20px;
	line-height: 1.3; /* according to Butterick's Typography this is good form ♡ */
}

.RedText {
	background: red;
}

.blog {
	font-size: 50px;
	color: dodgerblue;
}
